html {
    font-size: 10px
}

body {
    font-family: Arial, Tahoma, sans-serif;
    background-color: #e7e7e7;
    font-size: 1.4rem;
}

.container-fluid {
    padding: 0;
}

.header-container {
    background-color: #171616;
}

.content-wrapper {
    width: 1000px;
    margin: 0 auto;
}

header.content-wrapper {
    padding: 6px 0;
}

header.content-wrapper a.logo:hover {
    text-decoration: none;
}

header.content-wrapper a.logo span {
    display: block;
    font-family: Arial, Tahoma, sans-serif;
    color: #686868;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.search-form {
    padding: 6px 0 0 0;
}

.search-form input.search-input {
    background-color: #323232;
    border: 1px solid #4c4c4c;
    box-shadow: none;
    height: 27px;
    min-width: 300px;
    color: #FFFFFF;
    padding: 0 6px;
}

.search-form button {
    background-color: #000000;
    border: 1px solid #4c4c4c;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 12px;
    height: 27px;
    vertical-align: top;
    color: #FFFFFF;
    box-shadow: none;
}

.banner-container {
    background-color: #000000;
}

.banner-wrapper {
    height: 329px;
    position: relative;
}

.banner-wrapper p {
    margin: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    padding: 14px 0px 14px 22px;
    line-height: 1.5rem;
    bottom: 0;
    color: #dedede;
}

nav {
    background-color: #000000;
}

nav a,
nav a:hover {
    display: inline-block;
    color: #FFFFFF;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 24px;
    text-decoration: none;
    position: relative;
}

nav a::after {
    display: inline-block;
    content: '';
    background-color: #272727;
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

main {
    background-color: #FFFFFF;
    padding: 24px 12px;
}

footer {
    padding: 6px 0;
}

main h1 {
    font-weight: bold;
    font-size: 3rem;
    color: #838383;
}

main p {
    font-size: 1.3rem;
}
main a{
    font-style: italic;
    text-decoration: underline;
}
main h2 {
    margin: 3rem 0 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: #838383;
}
section .col{
    padding: 0px;
}
section img{
    border: 12px solid #e2e2e2;
}
